.menContainerBg {
    display: flex;
    justify-content: center;
    margin: 80px 200px 0 200px;
}

.menContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (max-width: 820px) {
    .menContainerBg {
        display: flex;
        margin: 10px;
    }

    .menContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}