.navBarContainerBg {
    display: flex;
    justify-content: center;
}

.navBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--cinza);
    width: 1115px;
    height: 115px;
}

.navBarContainer a {
    text-decoration: none;
    color: var(--cinza);
}

.navBarLogo {
    flex-basis: 20%;
}

.navBarMenu {
    flex-basis: 60%;
    color: var(--cinza);
    display: flex;
    align-items: center;
    height: 100%;
}

.navBarMenu div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 100%;
}

.navBarMenu div:hover {
    border-bottom: 3px solid var(--laranja);
}

.navBarUsuario {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.navBarUsuarioCarrinho {
    margin-right: 40px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}

.navBarUsuarioCarrinho img {
    margin-right: 40px;
    cursor: pointer;
}

.navBarUsuarioCarrinho span {
    position: absolute;
    top: 2px;
    left: 12px;
    font-size: 0.55rem;
    padding: 0 10px;
    border-radius: 20px;
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 500;
}

.navBarUsuarioAvatar {
    max-width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.navBarUsuarioAvatar:hover {
    outline: var(--laranja) solid 2px;
}

.navBarUsuarioCarrinhoDropDownMenu {
    position: absolute;
    background-color: var(--branco);
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(77, 77, 77, 0.3);
    width: 360px;
    height: auto;
    font-size: 0.8rem;
}

.navBarUsuarioCarrinhoDropDownMenu h4 {

    margin: 15px 30px;
    font-size: 1.1rem;
}

.dropDownCartEmpty {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cinza);
}

.DropDownMenuBotao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}